Source: opensc
Priority: extra
Maintainer: Eric Dorland <eric@debian.org>
Build-Depends: cdbs, debhelper (>> 4.1.0), libssl-dev (>= 0.9.7d-2), libpcsclite-dev, libpam0g-dev, libldap-dev, libsasl-dev, libassuan-dev (>= 0.6.4-2), xlibs-dev, libopenct0-dev, flex
Standards-Version: 3.6.1

Package: opensc
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: SmartCard utilities with support for PKCS#15 compatible cards
 This package includes utilities for manipulating
 PKCS#15 compatible smart cards and similar security tokens
 with the libopensc libraries.
 .
 These utilities allow the user to initialize, personalize and
 otherwise manipulate PKCS#15 cards with PINs and cryptographic 
 keys. Users can sign and decrypt data with private keys 
 residing on-card.
 .
 Supported cards include Gemplus GPK, Schlumberger Cryptoflex,
 Finnish FINEID, Swedish eID, MioCOS and TCOS cards.

Package: libopensc0-dev
Section: libdevel
Priority: optional
Architecture: any
Provides: libopensc-dev
Depends: libopensc0 (= ${Source-Version}), libscam0 (= ${Source-Version}), libssl-dev
Description: OpenSC development files
 Files necessary for developing applications with the libopensc 
 libraries from OpenSC.org.

Package: libopensc0
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: SmartCard library with support for PKCS#15 compatible smart cards
 This package contains the libopensc libraries from OpenSC.org.
 These libraries allow programs to access data, such as
 cryptographic keys, on various PKCS#15 compatible smart cards
 and similar security tokens.
 .
 Supported cards include Gemplus GPK, Schlumberger Cryptoflex,
 Finnish FINEID, Swedish eID, MioCOS and TCOS cards.
 .
 Card initialization can be performed by utilities in the opensc package.

Package: libpam-opensc
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, libscam0 (= ${Source-Version})
Recommends: opensc
Description: Pluggable Authentication Module for using PKCS#15 Smart Cards
 This package allows an administrator to configure a host to
 cryptographically authenticate users via PKCS#15 smart cards.
 User public keys can be stored in LDAP or in user home directories.
 User private keys are PIN-protected on issued smartcards.
 .
 This module supports any security token supported by the libopensc libraries.
 .
 Card initialization can be performed by utilities in the opensc package.

Package: libopensc-openssl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: OpenSSL engine using PKCS#15 Smart Cards
 This package allows OpenSSL to access the the private keys stored on
 PKCS#15 smart cards.
 .
 Card initialization can be performed by utilities in the opensc package.

Package: libscam0
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: Authentication modules for PKCS#15 Smart Cards
 LDAP and eid authentication libraries for use with the PAM modules. 
 .
 Card initialization can be performed by utilities in the opensc package.