Source: opensc
Priority: extra
Section: utils
Maintainer: Eric Dorland <eric@debian.org>
Build-Depends: debhelper (>= 7.0.50), libltdl3-dev, libssl-dev (>= 0.9.7d-3), libpcsclite-dev (>= 1.2.9-beta1), libassuan-dev (>= 0.6.4-2), libopenct1-dev, libxt-dev, flex, pkg-config
Standards-Version: 3.8.3
Homepage: http://www.opensc-project.org/
Vcs-Git: git://git.debian.org/git/pkg-opensc/opensc.git
Vcs-Browser: http://git.debian.org/?p=pkg-opensc/opensc.git 

Package: opensc
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SmartCard utilities with support for PKCS#15 compatible cards
 This package includes utilities for manipulating
 PKCS#15 compatible smart cards and similar security tokens
 with the libopensc libraries.
 .
 These utilities allow the user to initialize, personalize and
 otherwise manipulate PKCS#15 cards with PINs and cryptographic 
 keys. Users can sign and decrypt data with private keys 
 residing on-card.
 .
 Supported cards include Gemplus GPK, Schlumberger Cryptoflex,
 Finnish FINEID, Swedish eID, MioCOS and TCOS cards.

Package: libopensc2-dev
Section: libdevel
Priority: optional
Architecture: any
Conflicts: libopensc0-dev, libopensc1-dev
Replaces: libopensc0-dev, libopensc1-dev, libscam1 (<< 0.9.4-5)
Provides: libopensc-dev
Depends: libopensc2 (= ${binary:Version}), libssl-dev, ${misc:Depends}
Description: OpenSC development files
 Files necessary for developing applications with the libopensc 
 libraries from OpenSC.org.

Package: libopensc2
Section: libs
Priority: optional
Architecture: any
Conflicts: libopensc0, libopensc1
Replaces: libopensc0, libopensc1
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SmartCard library with support for PKCS#15 compatible smart cards
 This package contains the libopensc libraries from OpenSC.org.
 These libraries allow programs to access data, such as
 cryptographic keys, on various PKCS#15 compatible smart cards
 and similar security tokens.
 .
 Supported cards include Gemplus GPK, Schlumberger Cryptoflex,
 Finnish FINEID, Swedish eID, MioCOS and TCOS cards.
 .
 Card initialization can be performed by utilities in the opensc package.

Package: libopensc2-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libopensc2 (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for libopensc2
 This package contains the debugging symbols for the libopensc library
 from OpenSC.org.  These libraries allow programs to access data, such
 as cryptographic keys, on various PKCS#15 compatible smart cards and
 similar security tokens.
 .
 Supported cards include Gemplus GPK, Schlumberger Cryptoflex,
 Finnish FINEID, Swedish eID, MioCOS and TCOS cards.
 .
 Card initialization can be performed by utilities in the opensc package.

Package: mozilla-opensc
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: pinentry-gtk2 | pinentry-x11
Replaces: libopensc-openssl (<< 0.9.4-6)
Description: Mozilla plugin for authentication using OpenSC
 A plugin for mozilla that allows S/MIME and SSL authentication using
 OpenSC.
 .
 Card initialization can be performed by utilities in the opensc package. 
