#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	./bootstrap
	./configure --build=x86_64-linux-gnu \
		--prefix=/usr \
		--includedir=/usr/include \
		--mandir=/usr/share/man \
		--localstatedir=/var \
		--libexecdir=/usr/lib/opensc \
		--disable-dependency-tracking \
		--sysconfdir=/etc/opensc \
		--enable-pcsc \
		--enable-readline \
		--enable-zlib \
		--enable-man \
		--enable-doc \
		--htmldir=/usr/share/doc/opensc/html

